.fetch_form {
  display: flex;
  gap: 10px;
  margin-top: 100px;
}

.Table {
  max-width: 790px;
  text-align: left;
  width: 100%;
}

.container {
  display: flex;
}

.active {
  background-color: #11263a !important;
  padding-top: 400px !important;
}

.fetch_form {
  display: flex;
  width: 100%;
}

.Table {
  margin-top: 20px;
}

.ant-table {
  border: 1px solid #d9d9d9;
}

.ant-table-thead tr th {
  background-color: #fafafa;
  font-weight: bold;
}

.ant-table-tbody tr td {
  text-align: center;
}

.ant-btn {
  margin-right: 10px;
}

.ant-btn-dangerous {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}
